body {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
}
.container {
  max-width: 600px;
  padding: 20px;
  background: white;
  border: 10px;
  margin: 20px auto;
  border-radius: 10px;
}

.container-background {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: white;
}

.container-background .container {
  background: rgba(255, 255, 255, 0.1);
}

.contents,
button,
footer {
  text-align: center;
  font-family: "Lobster", cursive;
}

.grid-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.grid-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
.grid-image img:hover {
  transform: scale(2);
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  background-color: rgb(139, 59, 139);
  color: white;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: rgb(189, 123, 189);
}

.images img {
  max-width: 600px;
}
p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
  }
  .images img {
    max-width: 370px;
  }

  .grid-image {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  p {
    font-size: 22px;
  }
  button {
    font-size: 20px;
  }
}

.nail-picture {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.nail-picture:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}

p {
  font-family: "Indie Flower", cursive;
}

button {
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 1.5rem;
  color: white;
}
